[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=svg_merge_save
X-Python-2-Compatible=false
X-Krita-Manual=svg_merge_save/Manual.html
Name=Export Vector Layers as Flat SVG
Comment=Adds a menu item in the File menu to export vector layers as a flat SVG.
